.index {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
  font-family: PingFangSC-Medium, PingFang SC;
  background: linear-gradient(
    180deg,
    rgba(255, 248, 250, 0.9) 0%,
    #fff8fa 15%,
    #fff7f9 100%
  );
  color: rgb(99, 90, 90);
  .title {
    display: block;
    margin: 20px 0;
    font-size: 54px;
  }
}
