page {
  background-color: #f7f7f7;
}

.ui-page {
  .page-logo {
    margin-top: 55px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    
    Image {
      width: 230px;
      height: 230px;
    }
  }
  
  .page-title {
    text-align: center;
    font-size: 35px;
    color: #333;
  }
  
  .module-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .module {
    box-sizing: border-box;
    width: 90%;
    height: 120px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .module-img {
    width: 60px;
    height: 60px;
    color: #78a4fa;
    margin: auto 0;
    border-radius: 50%;
    border: 4px solid rgba(120,164,250,.16);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img {
    width: 30px;
    height: 30px;
    display: block;
  }
  
  .module-text {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    line-height: 1.6;
  
  }
  
  .module-title {
    font-size: 30px;
    font-weight: 700;
    color: #6a6a77;
  }
  
  .module-content {
    font-size: 20px;
    color: #88889c;
  }
  
  .module-arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #78a4fa;
    margin: auto 0;
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 7px 13px #c3d4f7;
  }
}
