.container {
  padding: 0 40px;
  font-family: PingFangSC-Medium, PingFang SC;
  .title {
    margin-bottom: 20px;
    font-size: 46px;
    text-align: center;
  }
  .input {
    margin: 40px 0;
    padding: 15px 20px;
    border: 1px solid #000;
  }
  .tips {
    margin: 20px 0 40px;
  }
  .love-heart {
    display: block;
    width: 120px;
    height: auto;
    margin: 0 auto;
  }
}
