page {
  background: #f7f8fb;
}

.container {
  padding: 20px 0 0 0;
  margin: 20px 20px;
  border-radius: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  .title {
    margin-bottom: 20px;
    font-size: 46px;
    text-align: center;
  }
  .wish-card {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0 20px 20px 20px;
    border-bottom: 1px solid #e7e7e7;
  }
  .create-icon {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 120px;
    height: auto;
  }
}
