button {
  background-color: none;
  outline: none;
  border-style: none;
}
button::after {
  border: none;
}

.btn {
  box-sizing: border-box;
  height: 47px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  position: relative;
  outline: none;
  text-overflow: ellipsis;
  
  &:active {
    transition: opacity 0.3s;
    opacity: 0.6;
  }

  &-primary {
    border: 1px solid #1783e9 !important;
    background-color: #1890ff;
    color: #fff;
  }

  &-warning {
    border: 1px solid #c1060f !important;
    background-color: #dc0711;
    color: #fff;
  }

  &-ghost {
    border: 1px solid #0a7be4;
    color: #1890ff;
    background-color: #fff;
  }

  &-noBorder {
    color: black;
    background-color: none;
    border: none !important;
    outline: none !important;
  }

  &-small {
    width: 80px;
    height: 50px;
    font-size: 23px;
    line-height: 50px;
    border-radius: 12px;
  }

  &-large {
    width: 130px;
    height: 70px;
    font-size: 26px;
    line-height: 70px;
    border-radius: 12px;
  }

  &-full {
    width: 100%;
    height: 80px;
    font-size: 26px;
    line-height: 80px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-left: none;
    border-right: none;
  }

  &-disabled {
    opacity: .3;
    &:active {
      opacity: 0.3 !important;
    }
  }

}
