.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 0 10px 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  // background: linear-gradient(
  //   180deg,
  //   rgba(255, 248, 250, 0.9) 0%,
  //   #fff8fa 15%,
  //   #fff7f9 100%
  // );
  .slogan {
    align-self: flex-start;
    margin: 40px 35px 20px;
    font-size: 72px;
    color: rgb(99, 90, 90);
    text-align: center;
  }
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-size: 42px;
    .lover-btn {
      width: 200px;
      padding: 20px;
      margin-top: 30px;
      border: 1px solid #ff6184;
      color: #ff4988;
      border-radius: 20px;
      font-size: 36px;
      text-align: center;
    }
  }
  .create-icon {
    position: fixed;
    left: 50%;
    bottom: 7%;
    transform: translateX(-50%);
    width: 120px;
    height: auto;
  }
}
