page {
  background: #f7f8fb;
}
.container {
  margin: 30px;
  padding-top: 20px;
  border-radius: 20px;
  .user_item {
    box-shadow: 0px 0px 15px 2px #fff;
    background-color: #fff;
    margin: 0 30px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #ddd;
  
    .user_avatar {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      margin: auto 0;
    }
    
    .user_desc {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 10px 20px;
      
      .user_nickName {
        flex-grow: 1;
        font-weight: 500;
        font-size: 25px;
      }
    
      .user_city {
        color: #7a7b7b;
        font-size: 23px;
      }
    }
    
    .user_type {
      font-size: 25px;
      font-weight: 400;
      color: #7a7b7b;
      margin: auto;
    
      .type_content {
        display: inline-block;
        padding: 10px;
        border: 3px solid #ddd;
        border-radius: 10px;
      }
    }
  }
}
